<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>restaurant site template About Us</title>

<meta name="keywords" content="restaurant, template, about us" />

<meta name="description" content="Template for future restaurant sites about us page" />

<link href="style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="reflection.js"></script>

</head>

<body>

<div id="templatemo_container">

  <div class="templatemo_topmenu">

    <ul>
      <li><a href="index.html">MAIN PAGE</a></li>
      <li><a href="#" class="current">ABOUT US</a></li>
      <li><a href="#">MENUS</a></li>
      <li><a href="#">DRINKS</a></li>
      <li><a href="#">LOCATIONS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>

  </div>

  <div id="templatemo_topsection">ABOUT US</div>
  

  <div id="templatemo_content_section">

    <h1>Who we are</h1>

    <p>This is a space to talk about your restaurant's history; this page is optional. We can customize your website however you would like.</p>

    <p>Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla. Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. <a href="#">Aenean</a> cursus. </p>

    <p>Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque. Aenean eget tortor eget ipsum aliquet porta. Vestibulum quis pede non urna venenatis vehicula. Praesent vel diam. Cras sed leo tempor neque placerat pretium. Curabitur nec odio.</p>

    <p>&nbsp;</p>

  </div>
  <div id="templatemo_footer">Restaurant Site Template</div>
</div>

</body>
</html>